flows/LegSettings.json
[{"id":"be0ca4c5.e8a188","type":"inject","z":"903a91a6.a8221","name":"ReadVars from file","topic":"","payload":"true","payloadType":"bool","repeat":"43200","crontab":"","once":true,"onceDelay":"","x":130,"y":660,"wires":[["71505baf.7be67c"]]},{"id":"71505baf.7be67c","type":"file in","z":"903a91a6.a8221","name":"get file rhm_sprinklerlegs.cnf","filename":"/data/rhm_sprinklerlegs.cnf","format":"utf8","sendError":true,"x":380,"y":660,"wires":[["15d20401.8e193c"]]},{"id":"15d20401.8e193c","type":"function","z":"903a91a6.a8221","name":"legday array","func":"\nvar legday  = [] ;          // 1st column - names of wk.day\n\nlegday[0]       = [];       // Leg 'L1A' - morning\nlegday[0][0]    = 1 ;       // Sun\nlegday[0][1]    = 0 ;       // Mon\nlegday[0][2]    = 1 ;       // Tue\nlegday[0][3]    = 0 ;       // Wed\nlegday[0][4]    = 1 ;       // Thu\nlegday[0][5]    = 0 ;       // Fri\nlegday[0][6]    = 1 ;       // Sat\nlegday[0][7]    = 'L1A' ;   // leg L1A for Morning\nlegday[0][8]    = 16 ;      // legtime\nlegday[0][9]    = 30 ;      // legrest for borehole\n\nlegday[1]       = [];       // Leg 'L1B' - evening\nlegday[1][0]    = 0 ;       // S\nlegday[1][1]    = 0 ;       // M\nlegday[1][2]    = 0 ;       // T\nlegday[1][3]    = 0 ;       // W\nlegday[1][4]    = 0 ;       // T\nlegday[1][5]    = 0 ;       // F\nlegday[1][6]    = 0 ;       // S\nlegday[1][7]    = 'L1B' ;   // leg L1B for Morning\nlegday[1][8]    = 16;       // legtime\nlegday[1][9]    = 30 ;      // legrest for borehole\n\nlegday[2]       = [];       // 'L2A' - morning\nlegday[2][0]    = 1 ;       // S\nlegday[2][1]    = 0 ;       // M\nlegday[2][2]    = 1 ;       // T\nlegday[2][3]    = 0 ;       // W\nlegday[2][4]    = 1 ;       // T\nlegday[2][5]    = 0 ;       // F\nlegday[2][6]    = 1 ;       // S\nlegday[2][7]    = 'L2A' ;   // leg L2A for Morning \nlegday[2][8]    = 16;       // legtime\nlegday[2][9]    = 30 ;      // legrest for borehole\n\nlegday[3]       = [];       // 'L2B' - evening\nlegday[3][0]    = 0 ;       // S\nlegday[3][1]    = 0 ;       // M\nlegday[3][2]    = 0 ;       // T\nlegday[3][3]    = 0 ;       // W\nlegday[3][4]    = 0 ;       // T\nlegday[3][5]    = 0 ;       // F\nlegday[3][6]    = 0 ;       // S\nlegday[3][7]    = 'L2B' ;  \nlegday[3][8]    = 16 ;      // legtime\nlegday[3][9]    = 30 ;      // legrest for borehole\n\nlegday[4]       = [];       // 'L3A' - morning\nlegday[4][0]    = 0 ;       // S\nlegday[4][1]    = 1 ;       // M\nlegday[4][2]    = 0 ;       // T\nlegday[4][3]    = 1 ;       // W\nlegday[4][4]    = 0 ;       // T\nlegday[4][5]    = 0 ;       // F\nlegday[4][6]    = 1 ;       // S\nlegday[4][7]    = 'L3A' ;   \nlegday[4][8]    = 16 ;      // legtime\nlegday[4][9]    = 30 ;      // legrest for borehole\n\nlegday[5]       = [];       // 'L3B' - evening\nlegday[5][0]    = 0 ;       // Su\nlegday[5][1]    = 0 ;       // Mo \nlegday[5][2]    = 0 ;       // T\nlegday[5][3]    = 0 ;       // W\nlegday[5][4]    = 1 ;       // T\nlegday[5][5]    = 0 ;       // F\nlegday[5][6]    = 0 ;       // S\nlegday[5][7]    = 'L3B' ;\nlegday[5][8]    = 16 ;      // sprinkler time for leg\nlegday[5][9]    = 30 ;      // legrest for borehole\n\nlegday[6]       = [];       // 'L4A' - morning\nlegday[6][0]    = 0 ;       // Su\nlegday[6][1]    = 1 ;       // Mo \nlegday[6][2]    = 0 ;       // Tu\nlegday[6][3]    = 1 ;       // We\nlegday[6][4]    = 0 ;       // Th\nlegday[6][5]    = 0 ;       // Fr\nlegday[6][6]    = 1 ;       // Sa\nlegday[6][7]    = 'L4A' ;\nlegday[6][8]    = 16 ;      // legtime\nlegday[6][9]    = 30 ;      // legrest for borehole\n\nlegday[7]       = [];       // 'L4B' - evening\nlegday[7][0]    = 0 ;       // Su\nlegday[7][1]    = 0 ;       // Mo\nlegday[7][2]    = 0 ;       // Tu\nlegday[7][3]    = 0 ;       // We\nlegday[7][4]    = 1 ;       // Th\nlegday[7][5]    = 0 ;       // Fr\nlegday[7][6]    = 0 ;       // Sa\nlegday[7][7]    = 'L4B' ;\nlegday[7][8]    = 16 ;      // legtime\nlegday[7][9]    = 30 ;      // legrest for borehole\n\nmsg.legday = legday ;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":660,"wires":[["c5dac7e.0334038"]]},{"id":"c5dac7e.0334038","type":"function","z":"903a91a6.a8221","name":"sprinklerlegs_cnf","func":"\nif (msg.payload === undefined) {\n    var sprinklerlegs_cnf = {legday :   msg.legday} ;\n    global.set('sprinklerlegs_cnf', sprinklerlegs_cnf);\n    msg.payload=JSON.stringify(sprinklerlegs_cnf); // to prep for writing file\n    return [msg,null] ;\n\n} else {\n\n    global.set('sprinklerlegs_cnf',JSON.parse(msg.payload));\n    msg.payload = JSON.parse(msg.payload);\n    return [null,msg] ;\n}","outputs":"2","noerr":0,"x":810,"y":660,"wires":[["f7a5de6f.5d3738"],[]]},{"id":"f7a5de6f.5d3738","type":"file","z":"903a91a6.a8221","name":"save rhm_sprinklerlegs.cnf","filename":"/data/rhm_sprinklerlegs.cnf","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1080,"y":660,"wires":[[]]}]
